.main{
    margin: 10px 10px;
}

.tips{
    margin: 10px 10px;
    color: #999;
}

.tips:hover{
    color: #f60;
}

.file-list{
    margin: 10px 10px;
    text-align: center;
}

.footer{
    font-size: 10px;
    color: #ccc;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    height: 40px;
    line-height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}